* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
    color: #00f8;
    gap: 5px;
}
.caixa {
    background-color: #eab88c8b;
    text-align: center;
    padding: 10px;
    border: 1px solid #000;
}
#topo {
    grid-area: 1 / 1 / 2 / -1;
}
#menu {
    grid-area: 2 / 1 / 3 / -1;
}
#principal {
    grid-area: 3 / 1 / -2 / -2;
}
#secundario {
    grid-area: 3 / -2 / -2 / -1;
}
#rodape {
    grid-area: -2 / 1 / -1 / -1;
}
