div.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 5px;
}

div.caixa1 {
    background-color: #f00;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}
div.caixa2 {
    background-color: #0f0;
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}
div.caixa3 {
    background-color: #00f;
    grid-row: 2 / 4;
    grid-column: 3 / 5;
}