@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: rgb(7, 31, 55);
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 315px;
    background-color: transparent;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #ffffff;
}

.boxInput {
    width: 100%;
    height: 50px;
    position: relative;
    margin: 30px 0px 20px 0px;
}

.boxInput input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid dodgerblue;
    width: 100%;
    padding: 10px;
    color: #ffffff;
}

.boxInput label {
    color: #ffffff;
    position: absolute;
    left: 5px;
    top: 40%;
    transform: translateY(-60%);
    pointer-events: none;
    transition-duration: .6s;
    transition-delay: .1s;
    transition-timing-function: ease;
}

.boxInput input:focus ~ label,
 .boxInput input:valid ~ label {
    top: -5px;
    
}

.boxlink {
    margin: -20px 0px 20px 0px;
}

.boxlink a {
    color: #ffffff;
    text-decoration: none; 
    font-size: .9em;
}

.boxlink a:hover {
    text-decoration: underline;
}

#botao {
    width: 100%;
    margin-bottom: 30px;
}

#botao #submit-botao {
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    color: #ffffff;
    background-color: dodgerblue;
    cursor: pointer;
}

#botao #submit-botao:hover {
    background-color: rgb(7, 87, 168);
}

.conteiner {
    width: 100%;
    margin-bottom: 10px;
}

.conteiner p {
    color: #ffffff;
    text-align: center;
}

.conteiner p a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

.conteiner p a:hover {
    text-decoration: underline;
}



