@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.conteiner {
    height: 100px;
    background-color: #432f79;
    width: calc(100% - var(--banana) );

    --banana: 200px;
    
}

main p {
    margin: 20px;
}